* {
    font-family: CaskaydiaMono Nerd Font;
}

window#waybar {
    background: #1a1a1a;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #292b2e;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #1a1a1a;
    background: #292b2e;
}

#clock.dow,
#clock.time,
#clock.dom,
#pulseaudio,
#memory,
#cpu,
#network,
#bluetooth,
#custom-battery,
#disk {
    color: #33ccff;
    background: #292b2e;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#bluetooth,
#custom-battery,
#disk {
    padding: 0 10px;
}
